<a href="https://colab.research.google.com/github/SyedHudaif/Bootcamp/blob/master/Day4/Day4_AN_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a function called check() , that takes in a list as the input. It has to return whether every
element in it as ‘greater than 5’ or ‘not greater than 5’ or equal to 5. The returned value has to be
placed in the list of tuples as (4, 'Less than 5'), (12, 'Greater than 5 '), (5, 'Equal to 5 '), and so on...

In [2]:
def check(list):
  l1=[]
  for i in range(len(list)):
    if list[i]>5:
      s="Greater then 5"
    elif list[i]<5:
      s="Less then 5"
    else:
      s="Equal to 5"
    x=(list[i],s)
    l1.append(x)
  return l1
list=[2,5,6,4,9,8,7]
print(check(list))

[(2, 'Less then 5'), (5, 'Equal to 5'), (6, 'Greater then 5'), (4, 'Less then 5'), (9, 'Greater then 5'), (8, 'Greater then 5'), (7, 'Greater then 5')]


Write a program in Python to produce Star triangle for any number n

In [2]:
n=int(input("Enter n value"))
m = (2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m = m - 1  
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

Enter n value5
        *
       * *
      * * *
     * * * *
    * * * * *

Write a program to produce Fibonacci series using generator in Python

In [4]:
def fib(n):
  fib1,fib2=0,1
  while fib1<n:
    yield fib1
    fib1,fib2=fib2,fib1+fib2
n=int(input("Enter n value"))
for i in fib(n):
  print(i)

Enter n value5
0
1
1
2
3

Write a program to check a number and a string are palindrome or not without using looping
statement.

In [8]:
s=input("Enter a number or string : ")
if (s==s[::-1]):
  print("Palindrone")
else:
  print("Not a palindrome")

Enter a number or string : madam
Palindrone

Convert the following dictionary into two lists of country and medals. Again convert them into
list of (country,medals) . Finally convert the list of tuples into dictionary again.
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19,\
"Canada": 22, "Argentina": 8, "England": 29}

 Sort the following dictionary golds by country and medals as
- medals by ascending order
- medals by descending order
-country by ascending order
-country by descending order
print them separately
golds = {"Italy": 114, "Germany": 782, "Pakistan": 10, "Sweden": 6,\
"USA": 2681, "Zimbabwe": 8, "Greece": 111, "Mongolia": 24,\
"Brazil": 108, "Croatia": 34, "Algeria": 15,\
"Switzerland": 323, "Yugoslavia": 87, "China": 526,\
"Egypt": 26, "Norway": 477, "Spain": 133, "Australia": 48,\
"Slovakia": 29, "Canada": 22, "New Zealand": 100,\
"Denmark": 180, "Chile": 13, "Argentina": 70, \
"Thailand": 24, "Cuba": 209, "Uganda": 7, "England": 806,\
"Denmark": 180, "Ukraine": 122, "Bahamas": 12}