<a href="https://colab.research.google.com/github/SyedHudaif/Bootcamp/blob/master/Day2/Session2/Python_Day2_Session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary

1. Add rollno and marks {name:mark} for n number of students through keyboard in a diction-
ary and print the marks in descending order with respective name.

In [ ]:
import operator
d={}
for i in range(int(input("Enter number of students: "))):
  str1=input("Enter name: ")
  x=int(input("Enter marks: "))
  d[str1]=x
sorted_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_d)

Enter number of students: 3
Enter name: jaggu
Enter marks: 35
Enter name: Vicky
Enter marks: 10
Enter name: Hudaif
Enter marks: 100
[('Hudaif', 100), ('jaggu', 35), ('Vicky', 10)]

2. Add name and salary {name:salary} for n number of employees through keyboard in a dic-
tionary and print them in name alphabetical order with salary

In [ ]:
import operator
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print(sorted_a)

Enter number of employees: 3
Enter name: Ramesh
Enter salary: 99999
Enter name: Zlatan
Enter salary: 150000
Enter name: Leo
Enter salary: 299999
[('Leo', 299999), ('Ramesh', 99999), ('Zlatan', 150000)]

3. Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the
salaries

In [ ]:
import operator
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print(sorted_a)
print("Sum is",sum(d.values()))
print("Max is",max(d.values()))
print("Min is",min(d.values()))
print("Avg is",sum(d.values())/len(d))

Enter number of employees: 3
Enter name: Ramesh
Enter salary: 326565
Enter name: Suresh
Enter salary: 7845
Enter name: Naresh
Enter salary: 6566
[('Naresh', 6566), ('Suresh', 7845), ('Ramesh', 326565)]
Sum is 340976
Max is 326565
Min is 6566
Avg is 113658.66666666667

4. Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
s2 = {key:val for key, val in d.items() if val > 2000 and val < 4000}
print(s2)

Enter number of employees: 3
Enter name: Leo
Enter salary: 2500
Enter name: Jio
Enter salary: 4500
Enter name: Ceo
Enter salary: 600
{'Leo': 2500}

5. Python program to convert a 3 digit number into words

In [18]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred'}

num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])
if(num>99 and num<1000):
            print(d[num//100]+" "+d[100]+" "+d[num//10%10*10]+" "+d[num%10])

Enter the integer between 1 to 999:675
six hundred seventy five

#Files

Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:
fname = input("Enter file name: ")
k = 0
file = open(fname, "r")
data = file.read().replace(" ","")
k = len(data)
print("Total number of characters are::")
print(k)

Enter file name: /content/Filess.txt
Total number of characters are::
328

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
fname = input("Enter file name: ")
d={x:0 for x in range(0,10)}
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isdigit()):
                    d[int(letter)]+=1
d1 = {key:val for key, val in d.items() if val > 0}
print(d1)

Enter file name: /content/Filess.txt
{0: 2, 1: 2, 5: 4, 6: 1, 7: 3, 9: 3}

Python Program to append the contents of one file to another file by getting the both file names
through keyboard .

In [ ]:
fname = input("Enter filename: ")
fname1 = input("Enter another filename: ")
with open(fname, "r") as f:
    with open(fname1, "a") as f1:
        for line in f:
            f1.write(line)

Enter filename: /content/Filess.txt
Enter another filename: /content/sample.txt

Python Program to count the number of blank spaces in a text file.

In [20]:
fname = input("Enter file name: ")
c = 0
with open(fname, 'r') as f:
    for line in f:
        for i in line:
              if i ==" ":
                  c=c+1
print("Total blank spaces are : ",c)

Enter file name: /content/Ss.txt
Total blank spaces are :  49

Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content into another file and read it .

In [21]:
fn = input("Enter file name: ")
fn1 = input("Enter another filename: ")
with open(fn, 'r') as f:
  with open(fn1, "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
        print(l)

Enter file name: /content/Ss.txt
Enter another filename: out.txt
Python Is An Interpreted, High-Level And General-Purpose Programming Language.

Created By Guido Van Rossum And First Released In 1991, Python'S Design Philosophy Emphasizes Code Readability With Its Notable Use Of Significant Whitespace. Its Language Constructs And Object-Oriented Approach Aim To Help Programmers Write Clear, Logical Code For Small And Large-Scale Projects