<a href="https://colab.research.google.com/github/SyedHudaif/Bootcamp/blob/master/Day1/Session2/Python_Day1_Session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to print the triangle

In [12]:
n=int(input("Enter n value "))
for i in range(1,n+1):
  for j in range(i,i+i):
    print(j,end=" ")
  print("")

Enter n value 4
1
2 3
3 4 5
4 5 6 7

In [13]:
n=int(input("Enter n value "))
for i in range(1,n+1):
  for j in range(i,i+i):
    print("*",end=" ")
  print("")

Enter n value 4
*
* *
* * *
* * * *

In [19]:
n=int(input("Enter n value "))
for i in range(n,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print("")

Enter n value 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [20]:
n=int(input("Enter n value "))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("")

Enter n value 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [22]:
n=int(input("Enter n value "))
for i in range(1,n+1):
  for j in range(i,n+1):
    print(j,end=" ")
  print("")
for i in range(n-1,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print("")

Enter n value 4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

Find the length of a string without using len functions

In [29]:
s=input("Enter the string : ")
c=0;
for i in s:
  c=c+1
print(c)

Enter the string : Corona Virus
12

Find the no of words and characters in a string

In [33]:
s=input("Enter the string : ").split()
c=0
w=0
for i in s:
  w=w+1
  for j in i:
    c=c+1
print("Number of words : {0} \nNumber of Characters : {1}".format(w,c+w-1) )

Enter the string : Corona Go, Go Corona
Number of words : 4
Number of Characters : 20

Find the no of occurrences of a word in a string

In [36]:
import numpy as n
s=input("Enter the string : ").split()
m=n.unique(s)
for i in m:
  print(i,":",s.count(i))

Enter the string : Find the the no of occurrences of of a word in a string
Find : 1
a : 2
in : 1
no : 1
occurrences : 1
of : 3
string : 1
the : 2
word : 1